@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Pacifico', cursive;
}

body {
    background: #000 url(./phao-hoa-putadesign-6.png);
    background-position: top;
    background-repeat: repeat-x;
    background-size: auto;
}

.container {
    position: absolute;
    top: 80px;
    left: 100px;
    right: 100px;
    bottom: 80px;
    /* background: url(./Logo_tròn.jpg);
    background-attachment: fixed; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.container h2 {
    text-align: center;
    font-size: 12em;
    line-height: 0.7em;
    margin-top: -80px;
}

.container h2 span {
    display: block;
    font-weight: 300;
    letter-spacing: 6px;
    font-size: 0.3em;
}

.countdown {
    display: flex;
    margin-top: 50px;
}

.countdown div {
    position: relative;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: #333;
    color: #fff;
    margin: 0 25px;
    font-size: 4em;
    font-weight: 500;
    padding-bottom: 30px;
}

.countdown div:before {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 50px;
    background: rgb(253, 253, 29);
    color: rgb(3, 3, 3);
    font-size: 0.4em;
    line-height: 40px;
    font-weight: 500;
}

.countdown #day:before {
    content: 'Days';
}

.countdown #hour:before {
    content: 'Hours';
}

.countdown #minute:before {
    content: 'Minutes';
}

.countdown #second:before {
    content: 'Second';
}
